@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #111111;
  --color-text: #f2f2f2;
  --color-white: #ffffff;
  --color-primary: #7a3ffc;
  --color-primary-light: #8b54ff;
  --color-primary-ultra-light: #a776ff;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

@layer utilities {
  .btn-primary {
    @apply block bg-primary text-white px-4 py-2 rounded hover:bg-primary-light transition-colors min-w-40;
  }

  .input {
    @apply w-full px-4 py-2 bg-background border border-primary-light rounded text-white placeholder:text-text/40 focus:outline-none focus:ring-2 focus:ring-primary-light;
  }

  .label {
    @apply block text-sm font-medium mb-1;
  }

  .checkbox {
    @apply w-4 h-4 appearance-none border border-primary-light rounded-sm bg-background 
           checked:bg-primary checked:border-primary cursor-pointer transition-colors duration-200 
           relative;
  }

  .checkbox:checked::after {
    content: "";
    @apply absolute top-[2px] left-[6px] w-[4px] h-[8px] border-white border-r-2 border-b-2 
           rotate-45;
  }
}
